.Brand_Leonacup .Leonacup_intro img {
  width: 100%;
  height: 90%;
  margin-bottom: 50px;
}
.Brand_Leonacup .Leonacup_intro .Leonacup_name {
  margin-left: 20%;
  font-size: 40px;
  font-weight: 700;
}
.Leonacup_paragraph {
  margin-right: 10%;
}
#grid {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-bottom: 25px;
  padding-bottom: 200px;
}
